.carcasa {
    border: solid black;
    padding: 10px;
    width: 50%;
    margin-left: 365px;
    background-color: rgb(200, 82, 255);
    text-align: center;
}

.boton {
    width: 14%;
    height: 50px;
}

.pantalla {
    background-color: rgb(240, 255, 192);
    padding: 35px;
    margin: 20px;
}